<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Product</title>
  </head>
  <body>
    <h1>Add new product</h1>

    <%= render 'form' %>

    <%= link_to 'Cancel', products_path %>
  </body>
</html>
